$pozueloRed: #e52127;
$grey: #4a4a4a;


/* Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* End: fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: $grey
}

.text-red {
  color: $pozueloRed
}

.text-grey{
color: $grey
}

.bg-grey{
  background:linear-gradient(180deg, #fdf0f0, #f7f7f0)
}

.container-vh{
  height: 600px;
}

.navbar{
  font-size: clamp(16pt, 1.25rem, 19pt);
  background-color: transparent !important;
  backdrop-filter: blur(100px) brightness(180%);
  height: clamp(50px, 5vw,80px) ;
  & .budget{
    margin-bottom: 0;
    &.available{
      color:grey;
      font-size: clamp(12pt, 1.25rem, 18pt);
    }
    &.invested{
      color:$pozueloRed;
      font-size: clamp(12pt, 1.25rem, 18pt);
    }
  }
}

@media screen and (max-width:768px){
  .navbar {
    flex-direction: column;
    height:auto;
    text-align: center;
    justify-content: center;
    backdrop-filter: blur(100px) brightness(180%);
    background-color: #f7f7f0;
    width: 100%;
    & .logo{
      max-width:50%;
      margin: 3vw;
    }
    & .budget {
      &.invested{
        font-size: clamp(10pt, 1.15rem, 16pt);
      }
    }
  }
}

.summary {

  & .box {
    padding: 2% 4%;
    border: $pozueloRed solid 3px;
    border-radius: 20px;
  }
}

// cards
.projectCard{
  margin-top: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "Poppins", sans-serif;
  & .render{
    margin-top: 15px;
  }

  & .flag-icon{
    border-radius: 100%;
    margin-right: 10px;
    width: 36px;
  }

  & .quantity{
    width: 40%;
    padding:5px;
    max-height: 40px;
    font-size: clamp(14pt, 1.5rem, 20pt);
    text-align: center;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  & .btn-add {
    background-color: $grey;
    color: white;
    width: 25%;
    font-size: clamp(12pt, 1.25rem, 18pt);
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

  & .btn-remove {
    background-color: $pozueloRed;
    color: white;
    width: 25%;
    font-size: clamp(12pt, 1.25rem, 18pt);
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }

}

// Initiative List
.initiativeList {
  & .initiative{
    justify-content: space-between;
    font-size: clamp(10pt, 0.95rem, 15pt);
    color:$grey
  }

}

.initiative{
  &.title{
    font-size: clamp(22pt, 3rem, 32pt)
}
}

@media screen and (max-width: 768px) {
  .initiativeList{
    & .initiative{
      font-size: clamp(8pt, 0.75rem, 12pt);
    }
  }
  
}